{% layout "layout.liquid" %}
{% block content %}

<div>
      <legend>Edit your credentials{{ passwords.acctName }}</legend>
    <form action="/keymaster/{{ passwords.id }}?_method=PUT" method="post"> 
      <label>
      <label>
        Account Name:<input type="text" name="acctName" placeholder="Your Account" />
      </label>
      <label>
        User Name:<input type="text" name="userName" placeholder="username@service" />
      </label>
        <label>
        Password:<input type="text" name="passwordKey" placeholder="Password" />
      
    </fieldset>
      <input type="submit" value="Save" />
       <a href="/keymaster/{{ passwords._id }}">
     <input type="submit" value="update {{passwords.acctName}}"/>
</div>


{% endblock %} 