{% layout "layout.liquid" %}
{% block content %}

<div>
<a href="/user/logout"><button>Logout</button></a>
 <a href="/keymaster/new"><button>Send </button></a>
 <form action="/keymaster/edit/{{passwords.id}}?_method=PUT" method="POST"> 
            {% for passwords in keymaster %}
                 <article>
        
            <a href="/keymaster/{{ passwords._id }}">
            <h2>
            {{passwords.acctName}} - 
                {% if passwords.saved == true %}
                     Saved
              
                {% endif %}

            </h2>
        </a>

                </article>
                          

{% endfor %}



{% endblock %}